# DF CONCEPTOS PRINCIPALES

Los conceptos core son aquellos que nos permiten realizar transformaciones con metodos y funcionalidades

In [1]:
# definir sesión de spark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("sesion007").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

## DF READER

DataFrameReader es una API fluida para describir la fuente de datos de entrada que se utilizará para "cargar" datos desde una fuente de datos externa (por ejemplo, archivos, tablas, JDBC o Dataset[String])

sintaxis:
```python
spark.read.[options(key, value)].format
```
references: https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.DataFrameReader.html

In [2]:
# lectura desde pandas
import pandas as pd

pd.read_csv(
    "https://gitlab.com/luisvasv/public/-/raw/master/datasets/004.mock.data/001.dependents.csv"
)

  first_name last_name                                   email_dependents  age
0      Alvis   Yeoland  cfowellsd@apache.org,Dcastello2l@homestead.com...   33
1     Finley   Ziemsen  ecloakei@oaic,fhubeauxa@google.com.br,tkemwall...   22
2      Corie     Snary  cfowellsd@apache.org,kpeggrame@weibo.com,kpegg...   15
3     Byrann   Kliment              ecloakei@oaic.gov.au, kpeggrame@weibo   11
4     Artair  Quarless  cfowellsd@apache.org,kpeggrame@weibo.com,aspar...   12

In [3]:
from pyspark import SparkFiles

# usando spark

# csv referencia: https://spark.apache.org/docs/latest/sql-data-sources-csv.html

url: str = "https://gitlab.com/luisvasv/public/-/raw/master/datasets/004.mock.data/001.dependents.csv"
spark.sparkContext.addFile(url)

spark_uri: str = "file://" + SparkFiles.get("001.dependents.csv")
print(spark_uri)
# Nota: para datos almacenados en en file store no son necesario este paso
# se lee en sistema distribuido: /
# se lee local file: //

file:///tmp/spark-7b936442-bbdc-4a92-84af-3f880c56fcf4/userFiles-677087c3-cb68-49f1-90ff-f1278080e721/001.dependents.csv

In [4]:
# forma 1
spark.read.option("sep", ",").option("header", True).csv(spark_uri)

DataFrame[first_name: string, last_name: string, email_dependents: string, age: string]

In [5]:
# forma 2
spark.read.csv(spark_uri, header=True, sep=",")

DataFrame[first_name: string, last_name: string, email_dependents: string, age: string]

In [6]:
# forma 3
spark.read.format("csv").option("sep", ",").option("header", True).load(spark_uri)

DataFrame[first_name: string, last_name: string, email_dependents: string, age: string]

In [7]:
# configurando esquema forma #1
spark.read.option("sep", ",").option("header", True).option("inferSchema", True).csv(
    spark_uri
)

DataFrame[first_name: string, last_name: string, email_dependents: string, age: int]

In [8]:
# configurando esquema forma #2
from pyspark.sql.types import IntegerType, StringType, StructField, StructType

schema = StructType(
    [
        StructField("first_name", StringType(), True),
        StructField("last_name", StringType(), True),
        StructField("email_dependents", StringType(), True),
        StructField("age", IntegerType(), True),
    ]
)

spark.read.csv(spark_uri, header=True, sep=",", schema=schema)

DataFrame[first_name: string, last_name: string, email_dependents: string, age: int]

In [9]:
# configurando esquema forma #3
spark.read.schema(schema).format("csv").option("sep", ",").option("header", True).load(
    spark_uri
)

DataFrame[first_name: string, last_name: string, email_dependents: string, age: int]

In [11]:
# configurando esquema forma #4
sql_ddl = "first_name STRING, last_name STRING, email_dependents STRING, age INT"
spark.read.schema(sql_ddl).format("csv").option("sep", ",").option("header", True).load(
    spark_uri
)

DataFrame[first_name: string, last_name: string, email_dependents: string, age: int]

## DF WRITER
DataFrameWriter es una API en PySpark que proporciona métodos para escribir datos de un DataFrame en varios formatos de almacenamiento. Permite guardar los datos en sistemas de archivos, bases de datos y otros almacenes de datos compatibles.

In [12]:
# datos para evaluar
df_from_uri = (
    spark.read.schema(sql_ddl)
    .format("csv")
    .option("sep", ",")
    .option("header", True)
    .load(spark_uri)
)
df_from_uri.show()

+----------+---------+--------------------+---+
|first_name|last_name|    email_dependents|age|
+----------+---------+--------------------+---+
|     Alvis|  Yeoland|cfowellsd@apache....| 33|
|    Finley|  Ziemsen|ecloakei@oaic,fhu...| 22|
|     Corie|    Snary|cfowellsd@apache....| 15|
|    Byrann|  Kliment|ecloakei@oaic.gov...| 11|
|    Artair| Quarless|cfowellsd@apache....| 12|
+----------+---------+--------------------+---+

In [13]:
# 1. forma elemental
df_from_uri.write.csv("file:///tmp/unal.csv", header=False)

In [15]:
!ls /tmp/unal.csv

_SUCCESS  part-00000-9e087565-0990-432d-bf88-45eae526ee1e-c000.csv

In [16]:
!cat /tmp/unal.csv/part-00000-9e087565-0990-432d-bf88-45eae526ee1e-c000.csv

Alvis,Yeoland,"cfowellsd@apache.org,Dcastello2l@homestead.com  ,fziemsen1@themeforest.net  , csnary2@instagram.com  ,    bkliment3@nationalgeographic.com,aquarless4@technorati.com, ggalbraeth5@arizona.edu,rpowton6@instagram.com,adressel7@icq.com,kegginson8@cdbaby.com,Nvears9@ifeng.com",33
Finley,Ziemsen,"ecloakei@oaic,fhubeauxa@google.com.br,tkemwallb@1und1.de,toldknowc@nymag.com",22
Corie,Snary,"cfowellsd@apache.org,kpeggrame@weibo.com,kpeggrame@weibo.com,kpeggrame@weibo.com",15
Byrann,Kliment,"ecloakei@oaic.gov.au, kpeggrame@weibo",11
Artair,Quarless,"cfowellsd@apache.org,kpeggrame@weibo.com,asparrowef@naver.com,glastg@pcworld.com,lbransbyh@example.com,cfowellsd@apache.org",12

In [17]:
# 2. forma básica
df_from_uri.write.format("csv").option("sep", ";").option("header", True).save(
    "file:///tmp/unal2.csv"
)

In [27]:
spark.sql("CREATE DATABASE IF NOT EXISTS unal;")

DataFrame[]

In [21]:
# 3. forma para guardar como una tabla
# overwrite = Sobrescribe cualquier tabla existente con el mismo nombre. Si la tabla no existe, la crea.
# append: Añade datos a la tabla existente. Si la tabla no existe, la crea.
modo: str = "overwrite"
df_from_uri.write.mode(modo).saveAsTable("users")

In [24]:
# spark.sql("")

In [ ]:
%sql
describe unal.users;

## TRANSFORMACIONES CORE

as transformaciones de DataFrame en PySpark se refieren a las operaciones que se pueden aplicar a un DataFrame para modificar, filtrar, agregar o manipular los datos de alguna manera. Las transformaciones en PySpark son operaciones lazy, lo que significa que no se ejecutan de inmediato cuando se definen, sino que se aplican de manera acumulativa y se ejecutan solo cuando se llama a una acción que requiere resultados concretos (como `show()`,` count()`, `collect()`, etc.).

Las transformaciones tambien pueden verse como:

<img 
     src="https://i.postimg.cc/tgJPjJ3s/001-clase.png" 
     alt="reporte" 
     border="0"
/>



Nota: En la siguiente sección nos centraremos en cargar datos desde una tabla, ya que de ofros formatos fue visto previamente

### CARGAR DESDE UNA BD

Se enfoca en esta parte, ya que es uno de los usos mas comunes

#### TABLE

In [29]:
# selecciona la tabla
spark.table("users")

DataFrame[first_name: string, last_name: string, email_dependents: string, age: int]

#### READ

In [30]:
spark.read.table("users")

DataFrame[first_name: string, last_name: string, email_dependents: string, age: int]

#### SQL

In [31]:
spark.sql("SELECT * FROM users")

DataFrame[first_name: string, last_name: string, email_dependents: string, age: int]

### SELECCIONAR DATOS

#### TABLE

In [33]:
# cargamos la tabla de usuarios

df = spark.table("users")

#### SELECT

In [34]:
# forma
df.select("first_name", "age").show()

+----------+---+
|first_name|age|
+----------+---+
|     Alvis| 33|
|    Finley| 22|
|     Corie| 15|
|    Byrann| 11|
|    Artair| 12|
+----------+---+

#### TIPO PANDAS

In [35]:
df[["first_name", "age"]].show()

+----------+---+
|first_name|age|
+----------+---+
|     Alvis| 33|
|    Finley| 22|
|     Corie| 15|
|    Byrann| 11|
|    Artair| 12|
+----------+---+

#### TIPO ATRIBUTO

In [36]:
df.select(df.first_name, df.age).show()

+----------+---+
|first_name|age|
+----------+---+
|     Alvis| 33|
|    Finley| 22|
|     Corie| 15|
|    Byrann| 11|
|    Artair| 12|
+----------+---+

### SELECT EXP

In [40]:
df.selectExpr("first_name", "age", "age as a").show()

+----------+---+---+
|first_name|age|  a|
+----------+---+---+
|     Alvis| 33| 33|
|    Finley| 22| 22|
|     Corie| 15| 15|
|    Byrann| 11| 11|
|    Artair| 12| 12|
+----------+---+---+

#### COL

se usa principalmente para:

- seleccionar
- alias
- crear nuevas columnas
- castear datos
- filtrado de datos

In [41]:
from pyspark.sql.functions import col

In [42]:
df.select(col("first_name"), col("age")).show()

+----------+---+
|first_name|age|
+----------+---+
|     Alvis| 33|
|    Finley| 22|
|     Corie| 15|
|    Byrann| 11|
|    Artair| 12|
+----------+---+

#### ALIAS

In [43]:
df.select(col("first_name").alias("user_full_name"), col("age")).show()

+--------------+---+
|user_full_name|age|
+--------------+---+
|         Alvis| 33|
|        Finley| 22|
|         Corie| 15|
|        Byrann| 11|
|        Artair| 12|
+--------------+---+

#### CAST

In [44]:
df.select(
    col("first_name").alias("user_full_name"), col("age").cast("float").alias("older")
).printSchema()

root
 |-- user_full_name: string (nullable = true)
 |-- older: float (nullable = true)

### FILTRANDO DATOS

In [46]:
df.show()

+----------+---------+--------------------+---+
|first_name|last_name|    email_dependents|age|
+----------+---------+--------------------+---+
|     Alvis|  Yeoland|cfowellsd@apache....| 33|
|    Finley|  Ziemsen|ecloakei@oaic,fhu...| 22|
|     Corie|    Snary|cfowellsd@apache....| 15|
|    Byrann|  Kliment|ecloakei@oaic.gov...| 11|
|    Artair| Quarless|cfowellsd@apache....| 12|
+----------+---------+--------------------+---+

#### WHERE

In [45]:
df.where(col("age") > 12).show()

+----------+---------+--------------------+---+
|first_name|last_name|    email_dependents|age|
+----------+---------+--------------------+---+
|     Alvis|  Yeoland|cfowellsd@apache....| 33|
|    Finley|  Ziemsen|ecloakei@oaic,fhu...| 22|
|     Corie|    Snary|cfowellsd@apache....| 15|
+----------+---------+--------------------+---+

#### FILTER SIMPLE

In [47]:
df.filter(col("age") > 12).show()

+----------+---------+--------------------+---+
|first_name|last_name|    email_dependents|age|
+----------+---------+--------------------+---+
|     Alvis|  Yeoland|cfowellsd@apache....| 33|
|    Finley|  Ziemsen|ecloakei@oaic,fhu...| 22|
|     Corie|    Snary|cfowellsd@apache....| 15|
+----------+---------+--------------------+---+

#### FILTER MULTIPLE (IGUAL PARA WHERE)

En PySpark, los filtros se aplican a DataFrames para seleccionar filas que cumplan ciertas condiciones. Para construir filtros más complejos, se utilizan operadores lógicos como `AND`, `OR` y `NOT`. Estos operadores permiten combinar expresiones booleanas para especificar criterios de filtrado más detallados.

Nota: al tener condiciones multiples, cada una se debe almacenar en `()`

##### AND (&)

In [48]:
df.where((col("age") > 15) & (col("first_name") == "Alvis")).show()

+----------+---------+--------------------+---+
|first_name|last_name|    email_dependents|age|
+----------+---------+--------------------+---+
|     Alvis|  Yeoland|cfowellsd@apache....| 33|
+----------+---------+--------------------+---+


##### OR (|)

In [49]:
df.where((col("age") > 15) | (col("first_name") == "Alvis")).show()

+----------+---------+--------------------+---+
|first_name|last_name|    email_dependents|age|
+----------+---------+--------------------+---+
|     Alvis|  Yeoland|cfowellsd@apache....| 33|
|    Finley|  Ziemsen|ecloakei@oaic,fhu...| 22|
+----------+---------+--------------------+---+

##### NOT(~)

In [50]:
df.filter(~(col("age") > 20)).show()

+----------+---------+--------------------+---+
|first_name|last_name|    email_dependents|age|
+----------+---------+--------------------+---+
|     Corie|    Snary|cfowellsd@apache....| 15|
|    Byrann|  Kliment|ecloakei@oaic.gov...| 11|
|    Artair| Quarless|cfowellsd@apache....| 12|
+----------+---------+--------------------+---+

### AGRUPANDO DATOS

In [51]:
from pyspark.sql.functions import avg, count, max, min, sum

data = [
    ("producto_A", 10, 100),
    ("Producto_B", 5, 80),
    ("producto_A", 7, 120),
    ("Producto_B", 3, 90),
    ("producto_A", 15, 110),
]
columns = ["producto", "cantidad", "precio"]
dfg = spark.createDataFrame(data, columns)

In [52]:
dfg.groupBy("producto").agg(
    sum("cantidad").alias("cantidad_total"), sum("precio").alias("pretio_total")
).show()

+----------+--------------+------------+
|  producto|cantidad_total|pretio_total|
+----------+--------------+------------+
|producto_A|            32|         330|
|Producto_B|             8|         170|
+----------+--------------+------------+

In [53]:
# analisis por producto
dfg.groupBy("producto").agg(
    sum("cantidad").alias("cantidad_total"),
    avg("precio").alias("precio_promedio"),
    min("precio").alias("precio_promedio"),
    max("precio").alias("precio_maximo"),
    count("producto").alias("total_ventas"),
).show()

+----------+--------------+---------------+---------------+-------------+------------+
|  producto|cantidad_total|precio_promedio|precio_promedio|precio_maximo|total_ventas|
+----------+--------------+---------------+---------------+-------------+------------+
|producto_A|            32|          110.0|            100|          120|           3|
|Producto_B|             8|           85.0|             80|           90|           2|
+----------+--------------+---------------+---------------+-------------+------------+

### TRANSFORMACIONES DE DATOS

## Funciones de Agregación
- `avg(column)`: Calcula el promedio de los valores de una columna.
- `count(column)`: Cuenta el número de valores en una columna.
- `max(column)`: Encuentra el valor máximo en una columna.
- `min(column)`: Encuentra el valor mínimo en una columna.
- `sum(column)`: Suma los valores de una columna.

## Funciones de Cadena
- `concat(*cols)`: Concatena varias columnas en una sola columna de cadena.
- `lower(column)`: Convierte los valores de una columna a minúsculas.
- `upper(column)`: Convierte los valores de una columna a mayúsculas.
- `substr(column, start, length)`: Extrae una subcadena de una columna de cadena.
- `length(column)`: Devuelve la longitud de la cadena en una columna.

## Funciones de Fecha y Hora
- `current_date()`: Devuelve la fecha actual.
- `current_timestamp()`: Devuelve la marca de tiempo actual.
- `datediff(end, start)`: Calcula la diferencia en días entre dos fechas.
- `date_add(start, days)`: Suma un número específico de días a una fecha.
- `date_sub(start, days)`: Resta un número específico de días a una fecha.
- `year(column)`: Extrae el año de una fecha.
- `month(column)`: Extrae el mes de una fecha.
- `dayofmonth(column)`: Extrae el día del mes de una fecha.

## Funciones Matemáticas
- `abs(column)`: Devuelve el valor absoluto de una columna.
- `round(column, scale)`: Redondea los valores de una columna a un número específico de decimales.
- `sqrt(column)`: Calcula la raíz cuadrada de los valores de una columna.
- `pow(column, exp)`: Calcula la potencia de los valores de una columna.

## Funciones Condicionales
- `when(condition, value)`: Devuelve un valor cuando la condición es verdadera.
- `otherwise(value)`: Especifica un valor alternativo cuando la condición es falsa (usado junto con `when`).

## Funciones de Ventana
- `row_number()`: Asigna un número de fila secuencial a cada fila dentro de una partición de un DataFrame.
- `rank()`: Asigna un rango a cada fila dentro de una partición de un DataFrame.

## Funciones de Orden Superior
- `array(*cols)`: Crea una columna de tipo array.
- `explode(column)`: Expande una columna de tipo array en filas individuales.
- `map_keys(column)`: Devuelve una columna de tipo array de las claves de un mapa.
- `map_values(column)`: Devuelve una columna de tipo array de los valores de un mapa.

In [54]:
dft = dfg.groupBy("producto").agg(
    sum("cantidad").alias("cantidad_total"),
    avg("precio").alias("precio_promedio"),
    min("precio").alias("precio_promedio"),
    max("precio").alias("precio_maximo"),
    count("producto").alias("total_ventas"),
)

#### CREAR NUEVA COLUMNA

In [55]:
from pyspark.sql.functions import col, explode, lit, split

In [85]:
# valor harcodeado , usamos lit
# en pandas era df["nombre"] =  valor
dft.withColumn("xxx", lit("ABC")).show()

+----------+--------------+---------------+---------------+-------------+------------+---+
|  producto|cantidad_total|precio_promedio|precio_promedio|precio_maximo|total_ventas|xxx|
+----------+--------------+---------------+---------------+-------------+------------+---+
|producto_A|            32|          110.0|            100|          120|           3|ABC|
|Producto_B|             8|           85.0|             80|           90|           2|ABC|
+----------+--------------+---------------+---------------+-------------+------------+---+

In [57]:
# valor computado
dft.withColumn("xxx", col("cantidad_total") / 2).show()

+----------+--------------+---------------+---------------+-------------+------------+----+
|  producto|cantidad_total|precio_promedio|precio_promedio|precio_maximo|total_ventas| xxx|
+----------+--------------+---------------+---------------+-------------+------------+----+
|producto_A|            32|          110.0|            100|          120|           3|16.0|
|Producto_B|             8|           85.0|             80|           90|           2| 4.0|
+----------+--------------+---------------+---------------+-------------+------------+----+

#### RENOMBRAR COLUMNA

In [86]:
dft.withColumn("xxx", col("cantidad_total") / 2).withColumnRenamed(
    "xxx", "my_column"
).show()

+----------+--------------+---------------+---------------+-------------+------------+---------+
|  producto|cantidad_total|precio_promedio|precio_promedio|precio_maximo|total_ventas|my_column|
+----------+--------------+---------------+---------------+-------------+------------+---------+
|producto_A|            32|          110.0|            100|          120|           3|     16.0|
|Producto_B|             8|           85.0|             80|           90|           2|      4.0|
+----------+--------------+---------------+---------------+-------------+------------+---------+


#### ELIMINAR COLUMNA

In [64]:
aaa = (
    dft.withColumn("xxx", col("cantidad_total") / 2)
    .withColumn("yyy", lit("ABC"))
    .withColumnRenamed("xxx", "my_column")
)
aaa.show()
aaa.drop("yyy").show()

+----------+--------------+---------------+---------------+-------------+------------+---------+---+
|  producto|cantidad_total|precio_promedio|precio_promedio|precio_maximo|total_ventas|my_column|yyy|
+----------+--------------+---------------+---------------+-------------+------------+---------+---+
|producto_A|            32|          110.0|            100|          120|           3|     16.0|ABC|
|Producto_B|             8|           85.0|             80|           90|           2|      4.0|ABC|
+----------+--------------+---------------+---------------+-------------+------------+---------+---+

+----------+--------------+---------------+---------------+-------------+------------+---------+
|  producto|cantidad_total|precio_promedio|precio_promedio|precio_maximo|total_ventas|my_column|
+----------+--------------+---------------+---------------+-------------+------------+---------+
|producto_A|            32|          110.0|            100|          120|           3|     16.0|
|Producto_B|             8|           85.0|             80|           90|           2|      4.0|
+----------+--------------+---------------+---------------+-------------+------------+---------+

In [69]:
df.show()

+----------+---------+--------------------+---+
|first_name|last_name|    email_dependents|age|
+----------+---------+--------------------+---+
|     Alvis|  Yeoland|cfowellsd@apache....| 33|
|    Finley|  Ziemsen|ecloakei@oaic,fhu...| 22|
|     Corie|    Snary|cfowellsd@apache....| 15|
|    Byrann|  Kliment|ecloakei@oaic.gov...| 11|
|    Artair| Quarless|cfowellsd@apache....| 12|
+----------+---------+--------------------+---+


#### EXPLODE

In [70]:
df.withColumn("array_emails", split(col("email_dependents"), ",")).printSchema()

root
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email_dependents: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- array_emails: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [73]:
df.withColumn("array_emails", split(col("email_dependents"), ",")).show()

+----------+---------+--------------------+---+--------------------+
|first_name|last_name|    email_dependents|age|        array_emails|
+----------+---------+--------------------+---+--------------------+
|     Alvis|  Yeoland|cfowellsd@apache....| 33|[cfowellsd@apache...|
|    Finley|  Ziemsen|ecloakei@oaic,fhu...| 22|[ecloakei@oaic, f...|
|     Corie|    Snary|cfowellsd@apache....| 15|[cfowellsd@apache...|
|    Byrann|  Kliment|ecloakei@oaic.gov...| 11|[ecloakei@oaic.go...|
|    Artair| Quarless|cfowellsd@apache....| 12|[cfowellsd@apache...|
+----------+---------+--------------------+---+--------------------+

In [ ]:
xyz = df.withColumn("array_emails", explode(split(col("email_dependents"), ",")))
xyz.show()

+----------+---------+--------------------+---+--------------------+
|first_name|last_name|    email_dependents|age|        array_emails|
+----------+---------+--------------------+---+--------------------+
|     Alvis|  Yeoland|cfowellsd@apache....| 33|cfowellsd@apache.org|
|     Alvis|  Yeoland|cfowellsd@apache....| 33|Dcastello2l@homes...|
|     Alvis|  Yeoland|cfowellsd@apache....| 33|fziemsen1@themefo...|
|     Alvis|  Yeoland|cfowellsd@apache....| 33| csnary2@instagra...|
|     Alvis|  Yeoland|cfowellsd@apache....| 33|    bkliment3@nat...|
|     Alvis|  Yeoland|cfowellsd@apache....| 33|aquarless4@techno...|
|     Alvis|  Yeoland|cfowellsd@apache....| 33| ggalbraeth5@ariz...|
|     Alvis|  Yeoland|cfowellsd@apache....| 33|rpowton6@instagra...|
|     Alvis|  Yeoland|cfowellsd@apache....| 33|   adressel7@icq.com|
|     Alvis|  Yeoland|cfowellsd@apache....| 33|kegginson8@cdbaby...|
|     Alvis|  Yeoland|cfowellsd@apache....| 33|   Nvears9@ifeng.com|
|    Finley|  Ziemsen|ecloakei@oaic,fhu...| 22|       ecloakei@oaic|
|    Finley|  Ziemsen|ecloakei@oaic,fhu...| 22|fhubeauxa@google....|
|    Finley|  Ziemsen|ecloakei@oaic,fhu...| 22|  tkemwallb@1und1.de|
|    Finley|  Ziemsen|ecloakei@oaic,fhu...| 22| toldknowc@nymag.com|
|     Corie|    Snary|cfowellsd@apache....| 15|cfowellsd@apache.org|
|     Corie|    Snary|cfowellsd@apache....| 15| kpeggrame@weibo.com|
|     Corie|    Snary|cfowellsd@apache....| 15| kpeggrame@weibo.com|
|     Corie|    Snary|cfowellsd@apache....| 15| kpeggrame@weibo.com|
|    Byrann|  Kliment|ecloakei@oaic.gov...| 11|ecloakei@oaic.gov.au|
+----------+---------+--------------------+---+--------------------+
only showing top 20 rows


#### UDF

In [87]:
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType, MapType, StringType


def size_email(value):
    size_message = len(value)
    upper_cases = len([letter for letter in value if letter.isupper()])
    lower_cases = len([letter for letter in value if letter.islower()])
    digit_cases = len([letter for letter in value if letter.isdigit()])

    return {
        "size": size_message,
        "upperc": upper_cases,
        "lowerc": lower_cases,
        "digitc": digit_cases,
    }


propia_udf = udf(size_email, MapType(StringType(), IntegerType()))

In [88]:
zzz = xyz.withColumn("msmp", propia_udf(col("array_emails")))
zzz.show()

+----------+---------+--------------------+---+--------------------+--------------------+
|first_name|last_name|    email_dependents|age|        array_emails|                msmp|
+----------+---------+--------------------+---+--------------------+--------------------+
|     Alvis|  Yeoland|cfowellsd@apache....| 33|cfowellsd@apache.org|{digitc -> 0, upp...|
|     Alvis|  Yeoland|cfowellsd@apache....| 33|Dcastello2l@homes...|{digitc -> 1, upp...|
|     Alvis|  Yeoland|cfowellsd@apache....| 33|fziemsen1@themefo...|{digitc -> 1, upp...|
|     Alvis|  Yeoland|cfowellsd@apache....| 33| csnary2@instagra...|{digitc -> 1, upp...|
|     Alvis|  Yeoland|cfowellsd@apache....| 33|    bkliment3@nat...|{digitc -> 1, upp...|
|     Alvis|  Yeoland|cfowellsd@apache....| 33|aquarless4@techno...|{digitc -> 1, upp...|
|     Alvis|  Yeoland|cfowellsd@apache....| 33| ggalbraeth5@ariz...|{digitc -> 1, upp...|
|     Alvis|  Yeoland|cfowellsd@apache....| 33|rpowton6@instagra...|{digitc -> 1, upp...|
|     Alvis|  Yeoland|cfowellsd@apache....| 33|   adressel7@icq.com|{digitc -> 1, upp...|
|     Alvis|  Yeoland|cfowellsd@apache....| 33|kegginson8@cdbaby...|{digitc -> 1, upp...|
|     Alvis|  Yeoland|cfowellsd@apache....| 33|   Nvears9@ifeng.com|{digitc -> 1, upp...|
|    Finley|  Ziemsen|ecloakei@oaic,fhu...| 22|       ecloakei@oaic|{digitc -> 0, upp...|
|    Finley|  Ziemsen|ecloakei@oaic,fhu...| 22|fhubeauxa@google....|{digitc -> 0, upp...|
|    Finley|  Ziemsen|ecloakei@oaic,fhu...| 22|  tkemwallb@1und1.de|{digitc -> 2, upp...|
|    Finley|  Ziemsen|ecloakei@oaic,fhu...| 22| toldknowc@nymag.com|{digitc -> 0, upp...|
|     Corie|    Snary|cfowellsd@apache....| 15|cfowellsd@apache.org|{digitc -> 0, upp...|
|     Corie|    Snary|cfowellsd@apache....| 15| kpeggrame@weibo.com|{digitc -> 0, upp...|
|     Corie|    Snary|cfowellsd@apache....| 15| kpeggrame@weibo.com|{digitc -> 0, upp...|
|     Corie|    Snary|cfowellsd@apache....| 15| kpeggrame@weibo.com|{digitc -> 0, upp...|
|    Byrann|  Kliment|ecloakei@oaic.gov...| 11|ecloakei@oaic.gov.au|{digitc -> 0, upp...|
+----------+---------+--------------------+---+--------------------+--------------------+
only showing top 20 rows

In [91]:
zzz.printSchema()

root
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email_dependents: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- array_emails: string (nullable = true)
 |-- msmp: map (nullable = true)
 |    |-- key: string
 |    |-- value: integer (valueContainsNull = true)

In [89]:
zzz.select(
    zzz.array_emails,
    zzz.msmp.size,
    zzz.msmp.upperc,
    zzz.msmp.lowerc,
    col("msmp.digitc").alias("digitc"),
).show()

+--------------------+----------+------------+------------+------+
|        array_emails|msmp[size]|msmp[upperc]|msmp[lowerc]|digitc|
+--------------------+----------+------------+------------+------+
|cfowellsd@apache.org|        20|           0|          18|     0|
|Dcastello2l@homes...|        27|           1|          21|     1|
|fziemsen1@themefo...|        27|           0|          22|     1|
| csnary2@instagra...|        24|           0|          18|     1|
|    bkliment3@nat...|        36|           0|          29|     1|
|aquarless4@techno...|        25|           0|          22|     1|
| ggalbraeth5@ariz...|        24|           0|          20|     1|
|rpowton6@instagra...|        22|           0|          19|     1|
|   adressel7@icq.com|        17|           0|          14|     1|
|kegginson8@cdbaby...|        21|           0|          18|     1|
|   Nvears9@ifeng.com|        17|           1|          13|     1|
|       ecloakei@oaic|        13|           0|          12|     0|
|fhubeauxa@google....|        23|           0|          20|     0|
|  tkemwallb@1und1.de|        18|           0|          14|     2|
| toldknowc@nymag.com|        19|           0|          17|     0|
|cfowellsd@apache.org|        20|           0|          18|     0|
| kpeggrame@weibo.com|        19|           0|          17|     0|
| kpeggrame@weibo.com|        19|           0|          17|     0|
| kpeggrame@weibo.com|        19|           0|          17|     0|
|ecloakei@oaic.gov.au|        20|           0|          17|     0|
+--------------------+----------+------------+------------+------+
only showing top 20 rows

In [92]:
zzz.createOrReplaceTempView("email_details")

In [93]:
spark.sql("SELECT lower(array_emails), msmp.digitc FROM email_details").show()

+--------------------+------+
| lower(array_emails)|digitc|
+--------------------+------+
|cfowellsd@apache.org|     0|
|dcastello2l@homes...|     1|
|fziemsen1@themefo...|     1|
| csnary2@instagra...|     1|
|    bkliment3@nat...|     1|
|aquarless4@techno...|     1|
| ggalbraeth5@ariz...|     1|
|rpowton6@instagra...|     1|
|   adressel7@icq.com|     1|
|kegginson8@cdbaby...|     1|
|   nvears9@ifeng.com|     1|
|       ecloakei@oaic|     0|
|fhubeauxa@google....|     0|
|  tkemwallb@1und1.de|     2|
| toldknowc@nymag.com|     0|
|cfowellsd@apache.org|     0|
| kpeggrame@weibo.com|     0|
| kpeggrame@weibo.com|     0|
| kpeggrame@weibo.com|     0|
|ecloakei@oaic.gov.au|     0|
+--------------------+------+
only showing top 20 rows